* {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

img, input, button {
    max-width: 300px;

}

script, title {
    display: none;
}